<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%-style%>
    </head>

    <body>
        <%- include('_header'); %>

        <!-- variable part which is same for every page -->
         <%- body%><!--body is defined by the library for specifying the location of body-part -->

        <%- include('_footer'); %>

        <%-script%>
    </body>
</html>